.App,h1 {
  text-align: center;
}

.wallet-cards{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
  margin-top:40px;
  padding:0 5%;
}
.wallet-card{
  display:flex;
  flex-flow:column;
  gap:5px;
  padding:15px;
  border-radius: 10px;
  height:100px;
  width:250px;
  background-color: #c061cb;
  color:white;
  cursor:pointer;
  transition: 200ms;
}
.wallet-card span:nth-of-type(2){
  font-size: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wallet-card.selected{
  width: 300px;
}
.wallet-activities-card{
  display:flex;
  flex-flow:column;
  gap:5px;
  padding:15px;
  border-radius: 10px;
  height:100px;
  width:250px;
  background-color: #EDEDED;
  color:black;
  font-size:26px;
  cursor:pointer;
  transition: 200ms;
}
.wallet-activities-card:hover,
.wallet-card:hover{
  filter:brightness(0.9);
}
.wallet-card.selected::after{
  content: '';
  background-color: var(--selected-color);
  margin-left: -10px;
  width: 60%;
  height: 3px;
  box-sizing: border-box;
  transform: translateY(50px);
}
.wallet-activities-card.selected::after{
  content: '';
  background-color: rgb(68, 84, 204);
  margin-left: -10px;
  width: 60%;
  height: 3px;
  box-sizing: border-box;
  transform: translateY(90px);
}


.buy-container{
  display:flex;
  flex-flow:column;
  gap:1rem;
}